<p style="font-size: 22px;">
  <%= t('.statement')%>
</p>
<% if @card.present? %>
  <%= render 'reviewed_card' %>
<% elsif current_user %>
  <h2><%= t('.no_cards')%></h2>
<% else %>
  <%= render 'user_sessions/form' %>
<% end %>
