<p style="font-size: 22px;">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>
<% if @card.present? %>
  <%= render 'reviewed_card' %>
<% elsif current_user %>
  <h2>No cards for reivew.</h2>
<% else %>
  <%= render 'user_sessions/form' %>
<% end %>
