<p style="font-size: 22px;">
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>
<% if any_card?(@card) %>
  <%= render 'reviewed_card' %>
<% else %>
  <h2>No cards for reivew.</h2>
<% end %>
